@charset 'UTF-8';

/* Setting Var-css */
:root{
	--body: #54fe33;
	--player: rgb(71, 60, 60);
	--icon-player: rgb(224, 122, 122);
	--btn-player-hover: rgb(51, 37, 37);
}

/* Reset */
body,html,a{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	box-shadow: none;
	text-decoration: none;
	font-size: 16px;
}

/* Style Body */

body{
	background: var(--body);
}

div#playMp3{
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}
div.player{
	width: 100%;
	background: var(--player);
	color: var(--icon-player);
	padding: 5px;
	border-radius: 5px 5px 0px 0px;
	box-sizing: border-box;
}
div.btn_on,
div#stop:hover,
div#next:hover,
div#menu:hover,
div#prev:hover,
div#loop:hover,
div#muted:hover
{
	background: var(--btn-player-hover);
}
div#playMp3 div{
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
div.input-play-range{
	padding: 0 10px;
	margin-top: -5px;
}
div#playMp3 div#menu{
	float: right;
	padding: 10px 0px;
}
div#stop,
div#loop,
div#next,
div#prev,
div#muted,
div#play-pause
{
	border-radius: 50%;
	cursor: pointer;
}
div#play-pause{
	margin-right: 10px;
}
div#menu{
	cursor: pointer;
}
div#sliderShow{
	width: 100%;
	height: 350px;
	border-radius: 0px 0px 5px 5px;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}
.sliderShow_on{
	transform: perspective(1000px) rotateX(0deg) !important; 
}
div#sliderShow div{
	max-width: 300px;
	height: 100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
div#sliderShow div h1{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	font-size: 28px;
}
div#sliderShow div h5{
	margin-top: 10px;
	font-size: 16px;	
}
div#sliderShow div p{
	text-align: justify;
	text-indent: 20px;
	font-size: 14px;
}
button.btn-button{
	background: linear-gradient(#333,#606060);
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	box-shadow: none;
}
input[type="range"]::-webkit-slider-thumb{
	background: var(--icon-player);
}
input[type="range"]::-moz-range-thumb{
	background: var(--icon-player);
}
input[type="range"]::-ms-thumb{
	background: var(--icon-player);
}