* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --player--background: #334400;
    --navmenu--background: #fff;
    --timeline--bacground: #f3f3f3;
    --timeline--bacground--thumb: cyan;
    --title--color: lightblue;
    --singer--color: #ccc;
    --buttons--color: #f3f3f3;
    --banner--height: 280px;
}

.player {
    width: 100%;
    min-height: 100vh;
    background: var(--player--background);
    padding: 20px;
}

.cover-class {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--banner--height);
    margin-bottom: 40px;
}

.cover-class::after {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(var(--banner--height) + 40px);
    background-color: black;
    z-index: 1;
    opacity: 0.1;
}

#cover {
    max-width: 100%;
    max-height: var(--banner--height);
}

#title {
    width: 100%;
    text-align: center;
    color: var(--title--color);

}

#singer {
    width: 100%;
    text-align: center;
    color: var(--singer--color);
    margin-bottom: 30px;
}

#timeline {
    width: 100%;
}

.time-class {
    width: 100%;
    text-align: center;
    color: var(--buttons--color);
    margin-bottom: 20px;
}

#time {
    color: var(--buttons--color);
    margin: 0 5px;
}

#fulltime {
    color: var(--buttons--color);
    margin: 0 5px;
}

.volume-class {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#volume-down {
    margin-right: 10px;
    color: var(--buttons--color);
    cursor: pointer;
    user-select: none;
}

#volume {
    width: 50%;
}

#volume-up {
    margin-left: 10px;
    color: var(--buttons--color);
    cursor: pointer;
    user-select: none;
}

.button-class {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#shuffle {
    color: var(--buttons--color);
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

#prev {
    color: var(--buttons--color);
    font-size: 2.6rem;
    cursor: pointer;
    user-select: none;
}

#play {
    color: var(--buttons--color);
    font-size: 3.5rem;
    cursor: pointer;
    user-select: none;
}

#next {
    color: var(--buttons--color);
    font-size: 2.6rem;
    cursor: pointer;
    user-select: none;
}

#replay {
    color: var(--buttons--color);
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

/* webkit */

